@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active{
    right: 300px;
}
.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-transform: uppercase;
    cursor: pointer;

}

.toggle{
    background-image: url('menu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    filter: invert(1);
}
.toggle.active{
    background-image: url('wrong.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    filter: invert(1);
}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #03a9f4;
    mix-blend-mode: overlay;
}
.text{
    position: relative;
    z-index: 20;
}
.text h2{
    font-size: 5rem;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
}
.text h3{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
.text p{
    font-size: 1.1rem;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    line-height: 1.8;
    text-transform: uppercase;
}
.text a{
    display: inline-block;
    font-size: 1rem;
    background: #fff;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}
.text a:hover{
    letter-spacing: 6px;
}

.social{
    position: absolute;
    bottom: 20px;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li{
    list-style: none;
    margin-right: 30px;
    transform: scale(1.3);
    transition: 0.5s;
    cursor: pointer;
}
.social li:hover{
    transform: scale(1.3) translateY(-15px);
}
.social li a{
    display: inline-block;   
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    position: relative;
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    font-style: 24px;
    color: #111;
}
.menu ul li a:hover{
    color: #03a9f4;
}

@media (max-width: 798px){
    .showcase, .showcase header{
        padding: 40px;
    }
    .text h2{
        font-size: 3rem;
    }
    .text h3{
        font-size: 2rem;
    }


}